services:
  nudrasil-app:
    build:
      context: ../../
      dockerfile: docker/production/Dockerfile
      args:
        PG_HOST: ${PG_HOST}
        PG_USER: ${PG_USER}
        PG_PASSWORD: ${PG_PASSWORD}
        PG_DATABASE: ${PG_DATABASE}
        NEXTAUTH_URL: ${NEXTAUTH_URL}
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
        KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
        KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
        KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    container_name: nudrasil-app-production
    network_mode: "host"
    restart: unless-stopped
